*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    display: grid;
    counter-reset: score;
    margin: 0;
    height: 100vh;
    width: 100%;
    place-items: center;
}
.pantalla{
    position: relative;
    border: 8px solid black;
    height: 100%;
    width: 100%;
    background: #CCEFFF;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22),;
    overflow: hidden;
}
.layer-1 {
    position: absolute;
    height: 70rem;
    width: 15rem;
    bottom: 0;
    right: 45rem;

    animation: conejo1 1.5s ease-in-out infinite;
}
@keyframes conejo1 {
    0%{
        bottom: 0;
    }
    50%{
        bottom: -7rem;
    }
    100%{
        bottom: 0;
    }
}
.layer-2 {
    position: absolute;
    z-index: 2;
    height: 70rem;
    width: 15rem;
    bottom: 0;
    left: 45rem;
    animation: conejo2 1s ease-out infinite;
}
@keyframes conejo2 {
    0%{
        bottom: 0;
    }
    30%{
        bottom: -9rem;
    }
    70%{
        bottom: -3rem;
    }
    100%{
        bottom: 0;
    }
}
.layer-3 {
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80rem;
    height: 60rem;
    bottom: 0;
    background: #AC5E55;
    border: 1px solid black; 
    border-radius: 2rem;
    overflow: hidden; 
}
.layer-4 {
    position: absolute;
    z-index: 4;
    height: 60rem;
    width: 15rem;
    bottom: 0;
    left: 20rem;
    animation: conejo3 3s ease infinite;
    animation-delay: 700ms;
}
@keyframes conejo3 {
    0%{
        translate: 20rem;
    }
    40%,50%{
        translate: -20rem;
    }
    80% ,100%{
        translate: 20rem;
    }
}
.layer-5 {
    position: absolute;
    z-index: 5;
    left: 0;
    margin: 0 auto;
    width: 60rem;
    height: 50rem;
    bottom: 0;
    background: #AC5E55;
    border: 0.1rem solid black; 
    border-radius: 2rem;
    overflow: hidden; 
}
.layer-6 {
    position: absolute;
    z-index: 6;
    height: 50rem;
    width: 15rem;
    bottom: 0;
    right: 20rem;
    animation: conejo4 3s ease-in-out infinite;
}
@keyframes conejo4 {
    0%, 10%{
        bottom: 0px;
        translate: -10rem;
    }
    30%{
        bottom: -7rem;
    }
    60%{
        translate: 8rem;
    }
    80%{
        bottom: 0px;
        translate: 8rem;
    }
    90%,100%{
        bottom: 0px;
        translate: -10rem;
    }

}
.layer-7 {
    position: absolute;
    z-index: 7;
    right: 0;
    margin: 0 auto;
    width: 60rem;
    height: 40rem;
    bottom: 0;
    background: #AC5E55;
    border: 0.1rem solid black; 
    border-radius: 2rem;
    overflow: hidden; 
}
.layer-8 {
    position: absolute;
    z-index: 8;
    height: 40rem;
    width: 15rem;
    bottom: 0;
    left: 45rem;
    animation: conejo5 6s ease infinite;
}
@keyframes conejo5 {
    0%,10%{
        bottom: 2rem;
    }
    20%{
        bottom: 0p;
    }
    30%{
        bottom: -7rem;
    }
    50%{
        bottom: -2rem;
        rotate: 90deg;
    }
    60%{
        rotate: 90deg;
        translate: 15rem;
    }
    70%{
        translate: 0px;
        rotate: 180deg;
    }
    80%,90%{
        rotate: 270deg;
        translate: -35rem;
    }
}
.layer-9 {
    position: absolute;
    z-index: 9;
    left: 10rem;
    margin: 0 auto;
    width: 65rem;
    height: 30rem;
    bottom: 0;
    background: #AC5E55;
    border: 0.1rem solid black; 
    border-radius: 2rem;
    overflow: hidden; 
}
.layer-10 {
    position: absolute;
    z-index: 10;
    left: 0;
    margin: 0 auto;
    width: 100%;
    height: 18rem;
    border-radius: 50%;
    background: white;
    top:60rem;
}

.left-ear--outer{
    background: white;
    border-radius: 90%;
    width: 4rem;
    height: 9rem;
    position: absolute;
    left: 1.5rem;
    top: 0.8rem;
}
.left-ear--inner{
    background: pink;
    border-radius: 90%;
    width: 2rem;
    height: 8rem;
    position: absolute;
    left: 2.5rem; 
    top: 0.8rem;
}
.right-ear--outer{
    background: white;
    border-radius: 90%;
    width: 4rem;
    height: 9rem;
    position: absolute;
    right: 1.5rem;
    top: 0.8rem;
}
.right-ear--inner{
    background: pink;
    border-radius: 90%;
    width: 2rem;
    height: 8rem;
    position: absolute;
    right: 2.5rem; 
    top: 0.8rem;
}
.head{
    background: white;
    border-radius: 50%;
    height: 10rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    top:6rem;
    width: 100%;
}
.head__eye{
    background: red;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    position: absolute;
    top: 2.5rem;

    animation: blink 1s infinite;
}

@keyframes blink{
    0%{
        height: 1rem;
    }
    5%{
        transform: translate(0rem, 0.5rem);
        height: 0.3rem;
    }
    10%{
        transform: translate(0px, 0px);
        height: 1rem;
    }
}

.head__eye--left{
    left: 5.5rem;
} 
.head__eye--right{
    right: 5.5rem;
} 

.grass {
    position: absolute;
    top: 0;
    width: 100%;
    height: 1.5rem;
    background-color: #75bb75;
  }
.grass__zigzag {
    position: absolute;
    top: 1.5rem;
    width: 100%;
    height: 3.0rem;
    background-color: #934840;
    background-image:  linear-gradient(135deg, #75bb75 25%, transparent 25%), linear-gradient(225deg, #75bb75 25%, transparent 25%), linear-gradient(45deg, #AC5E55 25%, transparent 25%), linear-gradient(315deg, #AC5E55 25%, #934840 25%);
    background-position:  1.5rem 0, 1.5rem 0, 0 0, 0 0;
    background-size: 3rem 3rem;
    background-repeat: repeat;
  }
.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-shadow: inset 0px 2.5rem 2rem 0px rgba(0,0,0,0.3);
    /* z-index: 3; */
  }
  input:checked {
    z-index: 12;
    counter-increment: score;
  }
  input[type=checkbox] {
    appearance: none;
    cursor: pointer;
    height: 8rem;
    margin: 0;
    position: absolute;
    top: 0;
    width:  12rem;
    z-index: 12;
  }
.score-win{
    top: 5rem;   
    position: absolute; 
    color: red;
    bottom: 0;
    right: 15rem;
}
.score-win::after{
    position: absolute; 
    color: gold;
    content: counter(score);
}
.GitHub{
    z-index: 11;
    position: absolute;
    margin: 0 auto;
    left: 60rem;
    right: 0;
    bottom: 11rem;
}
.logo{
    position: absolute;
    width: 5rem;
    height: 5rem;
    z-index: 11;
    position: absolute;
    margin: 0 auto;
    left: 55rem;
    bottom: 10rem;    
}